{% extends 'shopapp/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'shopapp/css/about.css' %}">

    <div class="row con pt-3 mt-5">
        <h3>About Maduka Online</h3>
        <div class="col-6 left-con">
            
            <div class="ss">
            <p>An exclusive connection to the Kenyan market for better choices. <br>
             <span><b>Who we are</b> </span> <br>
              Madukaonline is a platform inspired by digitalization whose main goal is to bring all forms of business together. <br>
              We make this possible by providing businesses with an opportunity to make a presence online by opening their shop online and making it possible for buyers to locate them online. <br>
             <b> Our mission</b> <br>
              Our mission is to make your business available everywhere anywhere at any time.
              </p>  
            </div>
        </div>
        <div class="col-6 right-con pb-3 pt-3">
            <img src="{% static 'shopapp/images/pro.jpg' %}" alt="">
        </div>
    </div>



    <div class="questions">
    <div class="accordion">
        <h2>Frequently Asked Questions</h2>
         <div class="accordion-ite">
      <a>Why is the moon sometimes out during the day?</a>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
      </div>
    </div>
    <hr>
    <div class="accordion-ite">
      <a>Why is the sky blue?</a>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
      </div>
    </div>
    <hr>
    <div class="accordion-ite">
      <a>Will we ever discover aliens?</a>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
      </div>
    </div>
    <hr>
    <div class="accordion-ite">
      <a>How much does the Earth weigh?</a>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
      </div>
    </div>
    <hr>
    <div class="accordion-ite">
      <a>How do airplanes stay up?</a>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
      </div>
    </div>
    <hr>
  </div>
  <div class="contact pb-3">
    <a class="btn btn-primary" href="#">CONTACT US</a>
  </div>
 
</div>




    <div class="trending">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item d-flex active">
                
                <div class="pro-grid">
                    <div class="pro-img">
                      <a href="#">
                        <img class="pics1" src="{% static 'shopapp/images/pro.jpg' %}" alt="">
                      </a>
                      <span class="product-new-label btn btn-outline-secondary">SALE</span>
                      <span class="product-like"><i class="icofont-ui-love"></i></span>
                    </div>
                    <span class="product-new-label">New</span>
                    <div class="details mt-0">
                      <div class="ti">
                        <h4>Kinkle SunScreen</h4>
                    
                      </div>
          
                      <div class="contact-seller">
                        <a class="btn btn-primary" href="#">CONTACT SELLER</a>
                      </div>
                      
                      <div class="direction">
                        <i class="icofont-location-pin"></i>
                        <h4>KAHAWA SUKARI</h4>
                      </div>
                      
                    </div>
                    <p class="price-tag">KES 2,000</p>
                  </div>
                  <div class="pro-grid">
                    <div class="pro-img">
                      <a href="#">
                        <img class="pics1" src="{% static 'shopapp/images/pro.jpg' %}" alt="">
                      </a>
                      <span class="product-new-label btn btn-outline-secondary">SALE</span>
                      <span class="product-like"><i class="icofont-ui-love"></i></span>
                    </div>
                    <span class="product-new-label">New</span>
                    <div class="details mt-0">
                      <div class="ti">
                        <h4>Kinkle SunScreen</h4>
                    
                      </div>
          
                      <div class="contact-seller">
                        <a class="btn btn-primary" href="#">CONTACT SELLER</a>
                      </div>
                      
                      <div class="direction">
                        <i class="icofont-location-pin"></i>
                        <h4>KAHAWA SUKARI</h4>
                      </div>
                      
                    </div>
                    <p class="price-tag">KES 2,000</p>
                  </div>
                  <div class="pro-grid">
                    <div class="pro-img">
                      <a href="#">
                        <img class="pics1" src="{% static 'shopapp/images/pro.jpg' %}" alt="">
                      </a>
                      <span class="product-new-label btn btn-outline-secondary">SALE</span>
                      <span class="product-like"><i class="icofont-ui-love"></i></span>
                    </div>
                    <span class="product-new-label">New</span>
                    <div class="details mt-0">
                      <div class="ti">
                        <h4>Kinkle SunScreen</h4>
                    
                      </div>
          
                      <div class="contact-seller">
                        <a class="btn btn-primary" href="#">CONTACT SELLER</a>
                      </div>
                      
                      <div class="direction">
                        <i class="icofont-location-pin"></i>
                        <h4>KAHAWA SUKARI</h4>
                      </div>
                      
                    </div>
                    <p class="price-tag">KES 2,000</p>
                  </div>
                  <div class="pro-grid">
                    <div class="pro-img">
                      <a href="#">
                        <img class="pics1" src="{% static 'shopapp/images/pro.jpg' %}" alt="">
                      </a>
                      <span class="product-new-label btn btn-outline-secondary">SALE</span>
                      <span class="product-like"><i class="icofont-ui-love"></i></span>
                    </div>
                    <span class="product-new-label">New</span>
                    <div class="details mt-0">
                      <div class="ti">
                        <h4>Kinkle SunScreen</h4>
                    
                      </div>
          
                      <div class="contact-seller">
                        <a class="btn btn-primary" href="#">CONTACT SELLER</a>
                      </div>
                      
                      <div class="direction">
                        <i class="icofont-location-pin"></i>
                        <h4>KAHAWA SUKARI</h4>
                      </div>
                      
                    </div>
                    <p class="price-tag">KES 2,000</p>
                  </div>
              </div>
              <div class="carousel-item d-flex">
                <div class="pro-grid">
                    <div class="pro-img">
                      <a href="#">
                        <img class="pics1" src="{% static 'shopapp/images/pro.jpg' %}" alt="">
                      </a>
                      <span class="product-new-label btn btn-outline-secondary">SALE</span>
                      <span class="product-like"><i class="icofont-ui-love"></i></span>
                    </div>
                    <span class="product-new-label">New</span>
                    <div class="details mt-0">
                      <div class="ti">
                        <h4>Kinkle SunScreen</h4>
                    
                      </div>
          
                      <div class="contact-seller">
                        <a class="btn btn-primary" href="#">CONTACT SELLER</a>
                      </div>
                      
                      <div class="direction">
                        <i class="icofont-location-pin"></i>
                        <h4>KAHAWA SUKARI</h4>
                      </div>
                      
                    </div>
                    <p class="price-tag">KES 2,000</p>
                  </div>
                  <div class="pro-grid">
                    <div class="pro-img">
                      <a href="#">
                        <img class="pics1" src="{% static 'shopapp/images/pro.jpg' %}" alt="">
                      </a>
                      <span class="product-new-label btn btn-outline-secondary">SALE</span>
                      <span class="product-like"><i class="icofont-ui-love"></i></span>
                    </div>
                    <span class="product-new-label">New</span>
                    <div class="details mt-0">
                      <div class="ti">
                        <h4>Kinkle SunScreen</h4>
                    
                      </div>
          
                      <div class="contact-seller">
                        <a class="btn btn-primary" href="#">CONTACT SELLER</a>
                      </div>
                      
                      <div class="direction">
                        <i class="icofont-location-pin"></i>
                        <h4>KAHAWA SUKARI</h4>
                      </div>
                      
                    </div>
                    <p class="price-tag">KES 2,000</p>
                  </div>
                  <div class="pro-grid">
                    <div class="pro-img">
                      <a href="#">
                        <img class="pics1" src="{% static 'shopapp/images/pro.jpg' %}" alt="">
                      </a>
                      <span class="product-new-label btn btn-outline-secondary">SALE</span>
                      <span class="product-like"><i class="icofont-ui-love"></i></span>
                    </div>
                    <span class="product-new-label">New</span>
                    <div class="details mt-0">
                      <div class="ti">
                        <h4>Kinkle SunScreen</h4>
                    
                      </div>
          
                      <div class="contact-seller">
                        <a class="btn btn-primary" href="#">CONTACT SELLER</a>
                      </div>
                      
                      <div class="direction">
                        <i class="icofont-location-pin"></i>
                        <h4>KAHAWA SUKARI</h4>
                      </div>
                      
                    </div>
                    <p class="price-tag">KES 2,000</p>
                  </div>
                  <div class="pro-grid">
                    <div class="pro-img">
                      <a href="#">
                        <img class="pics1" src="{% static 'shopapp/images/pro.jpg' %}" alt="">
                      </a>
                      <span class="product-new-label btn btn-outline-secondary">SALE</span>
                      <span class="product-like"><i class="icofont-ui-love"></i></span>
                    </div>
                    <span class="product-new-label">New</span>
                    <div class="details mt-0">
                      <div class="ti">
                        <h4>Kinkle SunScreen</h4>
                    
                      </div>
          
                      <div class="contact-seller">
                        <a class="btn btn-primary" href="#">CONTACT SELLER</a>
                      </div>
                      
                      <div class="direction">
                        <i class="icofont-location-pin"></i>
                        <h4>KAHAWA SUKARI</h4>
                      </div>
                      
                    </div>
                    <p class="price-tag">KES 2,000</p>
                  </div>
              </div>
              <div class="carousel-item d-flex">
                <div class="pro-grid">
                    <div class="pro-img">
                      <a href="#">
                        <img class="pics1" src="{% static 'shopapp/images/pro.jpg' %}" alt="">
                      </a>
                      <span class="product-new-label btn btn-outline-secondary">SALE</span>
                      <span class="product-like"><i class="icofont-ui-love"></i></span>
                    </div>
                    <span class="product-new-label">New</span>
                    <div class="details mt-0">
                      <div class="ti">
                        <h4>Kinkle SunScreen</h4>
                    
                      </div>
          
                      <div class="contact-seller">
                        <a class="btn btn-primary" href="#">CONTACT SELLER</a>
                      </div>
                      
                      <div class="direction">
                        <i class="icofont-location-pin"></i>
                        <h4>KAHAWA SUKARI</h4>
                      </div>
                      
                    </div>
                    <p class="price-tag">KES 2,000</p>
                  </div>
                  <div class="pro-grid">
                    <div class="pro-img">
                      <a href="#">
                        <img class="pics1" src="{% static 'shopapp/images/pro.jpg' %}" alt="">
                      </a>
                      <span class="product-new-label btn btn-outline-secondary">SALE</span>
                      <span class="product-like"><i class="icofont-ui-love"></i></span>
                    </div>
                    <span class="product-new-label">New</span>
                    <div class="details mt-0">
                      <div class="ti">
                        <h4>Kinkle SunScreen</h4>
                    
                      </div>
          
                      <div class="contact-seller">
                        <a class="btn btn-primary" href="#">CONTACT SELLER</a>
                      </div>
                      
                      <div class="direction">
                        <i class="icofont-location-pin"></i>
                        <h4>KAHAWA SUKARI</h4>
                      </div>
                      
                    </div>
                    <p class="price-tag">KES 2,000</p>
                  </div>
                  <div class="pro-grid">
                    <div class="pro-img">
                      <a href="#">
                        <img class="pics1" src="{% static 'shopapp/images/pro.jpg' %}" alt="">
                      </a>
                      <span class="product-new-label btn btn-outline-secondary">SALE</span>
                      <span class="product-like"><i class="icofont-ui-love"></i></span>
                    </div>
                    <span class="product-new-label">New</span>
                    <div class="details mt-0">
                      <div class="ti">
                        <h4>Kinkle SunScreen</h4>
                    
                      </div>
          
                      <div class="contact-seller">
                        <a class="btn btn-primary" href="#">CONTACT SELLER</a>
                      </div>
                      
                      <div class="direction">
                        <i class="icofont-location-pin"></i>
                        <h4>KAHAWA SUKARI</h4>
                      </div>
                      
                    </div>
                    <p class="price-tag">KES 2,000</p>
                  </div>
                  <div class="pro-grid">
                    <div class="pro-img">
                      <a href="#">
                        <img class="pics1" src="{% static 'shopapp/images/pro.jpg' %}" alt="">
                      </a>
                      <span class="product-new-label btn btn-outline-secondary">SALE</span>
                      <span class="product-like"><i class="icofont-ui-love"></i></span>
                    </div>
                    <span class="product-new-label">New</span>
                    <div class="details mt-0">
                      <div class="ti">
                        <h4>Kinkle SunScreen</h4>
                    
                      </div>
          
                      <div class="contact-seller">
                        <a class="btn btn-primary" href="#">CONTACT SELLER</a>
                      </div>
                      
                      <div class="direction">
                        <i class="icofont-location-pin"></i>
                        <h4>KAHAWA SUKARI</h4>
                      </div>
                      
                    </div>
                    <p class="price-tag">KES 2,000</p>
                  </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
<div style="background-color: #c4c4c4; color: #c4c4c4;" class="dd">.</div>

    <script type="text/javascript" src="{% static 'shopapp/js/about.js' %}"></script>
{% endblock content %}