{% extends 'shopapp/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css">
 <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
<link rel="stylesheet" href="{% static 'shopapp/css/details.css' %}">

<div class="details mb-4">
    <div class="row pt-5 mt-5">
        <div class="col-6 mm">
            <div id="carouselExampleIndicators" class="carousel slide mb-4" data-bs-ride="true">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% static 'shopapp/images/pro.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'shopapp/images/pro.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'shopapp/images/pro.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

              <div class="more">
                <div class="views">
                    <p>AD Views:</p>
                    <h5>234</h5>
                </div>
                <div class="views">
                    <p>AD Likes:</p>
                    <h5>234</h5>
                </div>
                <div class="views">
                    <p>Shop Registerd on:</p>
                    <h5>2 Jan 2022</h5>
                </div>
              </div>
              <div class="tips mt-3">
                <h5>Safety tips:</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis, veritatis voluptatem, iure autem ea itaque et temporibus dolorem inventore, ratione aut sunt. Sed quasi fuga accusamus quas quidem nulla eos libero, voluptatum dolorem non vitae voluptas iure, cumque magnam a illum velit dicta suscipit optio? Quisquam laboriosam sit facere natus sapiente in vel, hic consequuntur dolorum voluptatum ut quam itaque odio nesciunt odit molestiae eos. Consequuntur iusto aspernatur consectetur non explicabo esse dolorum qui nemo? Ab quasi unde voluptas enim optio voluptatum <br> dolore distinctio expedita deleniti. Dolore iste laudantium totam unde eveniet, ex voluptas, ratione accusamus doloribus, ad commodi dolores.</p>
            </div>
            <div class="tip">
                <a href="#">Report Abuse</a>
            </div>
        </div>
        <div class="col-6 ps-5">
            <div class="product-details">
                <div class="head">
                    <h5>Kinkle Sunscreen</h5>
                    <span>Posted on 31st Dec 2022</span>
                    <p> <i class="icofont-location-pin"></i>Kahawa Sukari</p>
                </div>
                <div class="price">
                    <h3>KES 2,000</h3>
                    <p>from <span>KES 3100</span> </p>
                </div>
                <div class="customer">
                    <div class="proc-pic">
                        <div class="green_icon"></div>
                        <img src="{% static 'shopapp/images/ju.jpg' %}" alt="">
                    </div>
                    <div class="pro-details">
                        <span>Sold by:</span>
                        <h6>Kinkle Trader</h6>
                        <span>Last seen: <p> Now</p></span>
                        <div class="ratings">
                            <span class="glyphicon glyphicon-star"><i class="icofont-star"></i></span>
                            <span class="glyphicon glyphicon-star"><i class="icofont-star"></i></span>
                            <span class="glyphicon glyphicon-star"><i class="icofont-star"></i></span>
                            <span class="glyphicon glyphicon-star"><i class="icofont-star"></i></span>
                            <span class="glyphicon glyphicon-star"><i class="icofont-star"></i></span>
                        </div>
                    </div>     
                </div>

                <div class="contact mt-5">
                    <a class="btn btn-primary" href="#">CONTACT SELLER</a>
                </div>
                <div class="chat mb-5">
                    <a class="btn btn-primary" href="#">START CHAT</a>
                </div>
                <!-- ============================================= -->
                <div class="tips">
                    <h5>Safety tips:</h5>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam, facilis quisquam. Quaerat libero officiis facilis saepe quidem sunt velit fugiat numquam, provident nisi distinctio eius voluptatum sit quasi eligendi eaque!</p>
                </div>

                <div class="tip">
                    <a href="#">Report Abuse</a>
                </div>
                <!-- ===============below======================= -->
                <div class="contact mt-5">
                    <a class="btn btn-primary" href="#">VISIT SHOP</a>
                </div>
                <div class="chat mb-5">
                    <a class="btn btn-primary" href="#">POST SIMILAR AD</a>
                </div>
            </div>    
        </div>

        <div class="similar">
            <div class="title">
                <div>SIMILAR PPRODUCTS </div>
            </div>
            <div class=" scrollmenu">
              
                <a class="scroll-dat" href="#">
                    <div class="card mt-2" style="width: 16rem; ">
                        <img width="240" height="180" src="{% static 'shopapp/images/lash.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h4 class="card-title tit">HHjdks</h4>
                        <h6 class="card-text">kdf</h6>
                        <p class="card-title own">sdv</p>
                        <p class="card-text">Time Left: 7hours ago</p>
                        </div>
                    </div>
                </a>
                <a class="scroll-dat" href="#">
                    <div class="card mt-2" style="width: 16rem; ">
                        <img width="240" height="180" src="{% static 'shopapp/images/lash.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h4 class="card-title tit">HHjdks</h4>
                        <h6 class="card-text">kdf</h6>
                        <p class="card-title own">sdv</p>
                        <p class="card-text">Time Left: 7hours ago</p>
                        </div>
                    </div>
                </a>
                <a class="scroll-dat" href="#">
                    <div class="card mt-2" style="width: 16rem; ">
                        <img width="240" height="180" src="{% static 'shopapp/images/lash.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h4 class="card-title tit">HHjdks</h4>
                        <h6 class="card-text">kdf</h6>
                        <p class="card-title own">sdv</p>
                        <p class="card-text">Time Left: 7hours ago</p>
                        </div>
                    </div>
                </a>
                <a class="scroll-dat" href="#">
                    <div class="card mt-2" style="width: 16rem; ">
                        <img width="240" height="180" src="{% static 'shopapp/images/lash.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h4 class="card-title tit">HHjdks</h4>
                        <h6 class="card-text">kdf</h6>
                        <p class="card-title own">sdv</p>
                        <p class="card-text">Time Left: 7hours ago</p>
                        </div>
                    </div>
                </a>
                <a class="scroll-dat" href="#">
                    <div class="card mt-2" style="width: 16rem; ">
                        <img width="240" height="180" src="{% static 'shopapp/images/lash.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h4 class="card-title tit">HHjdks</h4>
                        <h6 class="card-text">kdf</h6>
                        <p class="card-title own">sdv</p>
                        <p class="card-text">Time Left: 7hours ago</p>
                        </div>
                    </div>
                </a>
                <a class="scroll-dat" href="#">
                    <div class="card mt-2" style="width: 16rem; ">
                        <img width="240" height="180" src="{% static 'shopapp/images/lash.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h4 class="card-title tit">HHjdks</h4>
                        <h6 class="card-text">kdf</h6>
                        <p class="card-title own">sdv</p>
                        <p class="card-text">Time Left: 7hours ago</p>
                        </div>
                    </div>
                </a>
                
               
              </div>
        </div>
        
</div>


<script type="text/javascript" src="{% static 'shopapp/js/details.js' %}"></script>
{% endblock content %}