 .con {
    background-color: #ffff;
    border-radius: 8px;
}

.con .right-con img{
    width: 100%;
    height: 450px;
    border-radius: 8px;
} 


/* ========================================== */

.questions{
    background-color: #ffff;
    margin-top: 15px;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
}

  
  .accordion a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 1rem;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    /* border-bottom: 1px solid #e5e5e5; */
  }
  
  .accordion a:hover,
  .accordion a:hover::after {
    cursor: pointer;
    color: #03b5d2;
  }
  
  .accordion a:hover::after {
    border: 1px solid #03b5d2;
  }
  
  .accordion a.active {
    color: #03b5d2;
    border-bottom: 1px solid #03b5d2;
  }
  
  .accordion a::after {
    font-family: 'Ionicons';
    content: '\f218';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    color: #7288a2;
    padding: 5px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #7288a2;
    text-align: center;
  }
  
  .accordion a.active::after {
    font-family: 'Ionicons';
    content: '\f209';
    color: #03b5d2;
    border: 1px solid #03b5d2;
  }
  
  .accordion .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
  }
  
  .accordion .content p {
    font-size: 1rem;
    font-weight: 300;
  }
  
  .accordion .content.active {
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
  }
  
  .ftr{
      text-align: center;
      margin-top: 20px;
  }

.contact{
    float: right;
}

.contact .btn{
    background-color: #020c2F;
    border-style: none;
    box-shadow: none;
}


/* ================================================ */
 .col-4 .cont .product-list{
    padding-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: space-between;
}

 .col-4 .cont .product-list  .listing{
    line-height: 1px;
}

 .col-4 .cont .product-list  .listing h4{
    font-size: medium;
}


 .pro-grid .pro-img{
    width: 11rem;
    height: 15rem;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 25px;
    position: relative;
}
 .pro-grid .pro-img img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    
}

 .product-g{
    margin-top: 1rem;
}

 .product-new-label{
    background-color: none;
    color:#000;
    font-size: large;
    font-weight: 700;
    padding:2px 10px;
    position:absolute;
    right:1px;
    top:10px;
    transition:all .3s;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
}

 .product-like{
    background-color: none;
    color:#000;
    font-size: larger;
    font-weight: 700;
    padding:2px 10px;
    position:absolute;
    left:1px;
    top:10px;
    transition:all .3s;
    border-radius: 5px;
    
}

 .details{
    display: flex;
    /* justify-content: space-between; */
    margin-right: auto;
}
 .details .ti{
    display: flex;
    flex-direction: column;
}
 .price-tag{
    font-weight: 700;
}
 .details .ti h4{
    font-size: small;
}


 .details .direction{
    display: flex;
    margin-left: 2rem;
}


 .details .direction i{
    font-size: x-large;
}

 .details .direction h4{
    font-size: small;
}

 .pro-grid .pro-img:hover  .details .direction{
    display: none;   
}

 .details .contact-seller{
    margin-left: 1.6rem;
    border-radius: 10px;
    /* display: none; */
}
 .details .contact-seller .btn{
    background-color: #020c2F;
    border-style: none;
    font-size: smaller;
    line-height: 1rem;
    font-weight: 700;
}



 .pro-grid :hover .details .direction{
    display: none;
}

img:hover .contact-seller{
    display: none;
}

 .pro-grid :hover   .details .contact-seller{
    display: block;
}

.trending{
    background-color: #ffff;
    margin-top: 15px;
    border-radius: 8px;
    padding-left: 1rem;
    padding-bottom: 2rem;
   
}