*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: linear-gradient(to bottom, #2c2c2c, #c4c4c4, #fff);
    height: 15rem;
    
}
header nav{
    color: #fff;
    z-index: 1;
}
.header img{
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 100%;
    object-fit: fill;
}

.navbar .container-fluid img{
    width: 200px;
    height: 100px;
    background: none;
}
.navbar .container-fluid .btn-menu .nav-link{
    margin-left: 2rem;
    color: #fff;
}
.header nav .navbar-brand{
    top: 0;
}

.navbar .container-fluid .btn-menu .coll button{
    color: #0000;  
    background-color: #ffff;  
    border-radius: 50%;
    border-style: none;
}
.navbar .container-fluid .btn-menu .coll i{
    color: #000;
    text-align: center;
    padding: 5px;
}