*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header{
    background-image: linear-gradient(to bottom, #2c2c2c, #c4c4c4, #fff);
    height: 15rem;
    
}

.main-con{
    background-color: #c4c4c4;
}
header nav{
    color: #fff;
    z-index: 1;
}
.header img{
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 15rem;
    object-fit: fill;
}

.navbar .container-fluid img{
    width: 200px;
    height: 100px;
    background: none;
}
.navbar .container-fluid .btn-menu .nav-link{
    margin-left: 2rem;
    color: #fff;
}
.header nav .navbar-brand{
    top: 0;
}

.navbar .container-fluid .btn-menu .coll button{
    color: #0000;  
    background-color: #ffff;  
    border-radius: 50%;
    border-style: none;
}
.navbar .container-fluid .btn-menu .coll i{
    color: #000;
    text-align: center;
    padding: 5px;
}

.searcher{
    z-index: 1;
    position: relative;
    width: 50%;
    background-color: #ffff;
    border-radius: 8px;
    height: 60px;
}

.searcher .row .col .form-control{
    border-style: none;
    /* padding: 5px; */
    margin: 10px;
    
    border-radius: 0;
}

.searcher .row .col .st{
    border-right-style: solid;
}

.container .row .col-4 .titles{
    display: flex;
    justify-content: space-between;
}

.container .row .col-4 .titles .featured{
    text-transform: uppercase;
    background-color: #ffff;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 7rem;
    text-align: center;
    height: 2rem;
    border-radius: 5px;
    font-size: larger;
    font-weight: 700;
}

.container .row .col-4 .cont{
    background-color: #ffff;
    border-radius: 5px;
}

.container .row .col-4 .cont .product-list{
    padding-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.container .row .col-4 .cont .product-list  .listing{
    line-height: 1px;
}