{% extends 'shopapp/main.html' %}
{% load static %}
{% block content %}
    <div class="row mt-5 pt-4 pb-4 ">
        <div class="col-4">
            <div class="log-image">
                <img src="{% static 'shopapp/images/lash.jpg' %}" alt="">
            </div>
        </div>
        <div class="col-8">
            <div class="log-links ms-3">
                <div class="link-list">
                    <a style=" background-color: transparent;" class="btn btn-primary sig" href="{% url 'shopusers:home' %}">SIGN UP</a>
                    <a style=" background-color: #020c2F;" class="btn btn-primary" href="#">SIGN IN</a>
                    <!-- <li class="btn btn-primary"><a href="#">SIGN UP</a></li>
                    <li class="btn btn-primary"><a href="#">SIGN IN</a></li> -->
                </div>
                <div class="sig-table mt-5">
                    <form>
                        
                        
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address/ Phone Number</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        
                        <div class="ff">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>

                        <div class="or">
                            <p><span>or</span></p>
                        </div>


                        <div class="social-box">
                            <div class="go">
                                <a style="background-color: transparent; border-style: solid; border-radius: 8px; color: black; box-shadow: none; font-weight: 400;" class="btn btn-primary" href="#"><img style="height: 35px;" class="me-5" src="{% static 'shopapp/images/icons8-google-48.png' %}" alt="">  Login with google</a>
                            </div>
                            <div class="fa">
                                <a style="background-color: transparent; border-style: solid; border-radius: 8px; color: black; box-shadow: none; font-weight: 400;" class="btn btn-primary" href="#"><img style="height: 35px;" class="me-5" src="{% static 'shopapp/images/icons8-facebook-48.png' %}" alt="">  Login with facebook</a>
                            </div>
                        </div>
                         
                      </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}